<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<form action="/register" method="post" th:object="${registerRequest}">
    <div class="login">
        <div class="form">
            <h2>Welcome Back</h2>
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign Up" class="submit">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</form>
</body>
</html>